<div class="post">
    <div class="img-box">
        <img  class="post-img" src="{{post.image.url}}" alt="{{post.title}}">
    </div>
    <div class="post-box">
        <h3 class="post-title">{{post.title}}</h3>
        <p class="post-text">{{post.explicit}}</p>
        <div class="more__post_info">
            <a class="read-later" href="{% url "post-detail" post.slug %}">Read later</a>
            <a class="more-btn" href="{% url "post-detail" post.slug %}">Read more &rightarrow;</a>
        </div>
    </div>
</div>