.about-post{
    padding: 4rem;
    position: relative;
    text-align: center;
}

.post-img{
    height: 25rem;
    width: 75%;
}

.post-detail{
    text-align: left;
}

.post-content{
    margin-top: 0;
    padding-top: 0;
    text-align: left;
}

.post-content p{
    font-size: 1.3rem;
    text-indent: 2rem;
    line-height: 1.4;
    color: #0f0505;   
}


.post-info{
    position: absolute;
    left: 80%;
}

.post-info p{
    margin: 0.4rem;
    font-style: italic;
    display: inline;
    font-size: 1rem;
}

.comment-section{
    padding: 2rem 6rem;
}

.comment-section h2{
    text-align: center;
    font-size: 1.6rem;
    color: #5b1d1d;
}

.comment{
    padding: 1rem 1rem;
    max-width: 40rem;
    width: 90%;
    border-bottom: 1px solid #ccc;
}

.comment:last-child{
    border-bottom: none;
}

.comment-name{
    font: 1.4rem;
    margin-left: 2rem;
    color: #0f0505;
}

.comment-text{
    font-size: 1rem;
    line-height: 1.2;
    color: #0f0505;
}

.call-to-comment{
    margin: 2rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    width: 30rem;
    padding: 2rem 4rem;
    margin-bottom: 4rem;
}

.call-to-comment h2{
    text-align: center;
    font-size: 1.6rem;
    color: #5b1d1d;
    margin-top: 0;
    margin-bottom: 2.8rem;
}

.call-to-comment button{
    background-color: #5b1d1d;
    color: #ccc;
    padding: 0.5rem 0.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
}

.form-field{
    margin-bottom: 2rem;
}

.form-field label{
    display: block;
    margin-bottom: 0.5rem;
}