{% extends "blog/base.html" %}
{% load static %}

{% block css_style %}
<link rel="stylesheet" href="{% static "blog/css/includes.css" %}">
<link rel="stylesheet" href="{% static "blog/css/post-detail.css" %}">      
{% endblock css_style %}

{% block content %} 
    <section class="about-post">
            <img class="post-img" src="{{post.image.url}}" alt="{{post.title}}">
        <div class="post-content">
            <h3 class="post-title">{{post.title}}</h3>
            {{post.content | linebreaks}}
            <div class="post-info">
                <p>By {{post.author}}</p>
                <p>{{post.date}}</p>
                <p>Addis Ababa, Ethiopea</p>
            </div>
        <div>
    </section>
    <section class="comment-section">
        <h2 class="">Comments</h2>
        <div class="comment">
            <h3 class="comment-name">Abebe</h3>
            <p class="comment-text">Nice view! I dont see the way you see  it.</p>
        </div>
        <div class="comment">
            <h3 class="comment-name">Ben</h3>
            <p class="comment-text">Lorem ipsum dolor sit 
                amet consectetur adipisicing elit. Perspiciatis odit quidem, 
                voluptatibus veritatis molestiae iure soluta corrupti ipsam </p>
        </div>
        <div class="comment">
            <h3 class="comment-name">Betty</h3>
            <p class="comment-text">Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Neque voluptate quis distinctio molestiae et quaerat fugiat .</p>
        </div>
    </section>
    <section class="call-to-comment">   
        <h2>Leave Your Comment Here</h2>
        <div>
            <form action="" class="comment-form">
                {% for field in form %}
                    <div class="form-field">
                        {{field.label_tag}}
                        {{field}}
                    </div>
                {% endfor %}
                <button type="button">Add Comment</button>
            </form>
        </div>
    </section>
{% endblock content %}