{% extends "blog/base.html" %}
{% block content %}
<link rel="stylesheet" href="../../static/blog/css/post-detail.css">
    <section class="about-post">
        <div class="post-detail">
            <img class="post-img" src="{{post.image.url}}" alt="">
            <div class="post-description">
                <h3 class="post-title">{{post.title}}</h3>
                <p class="post-text">{{post.explicit}}</p>
                </p>
            </div>
        </div>
        <p class="post-text">{{post.content}}</p>
        <div class="post-info">
            <p>By {{post.author}}</p>
            <p>{{post.date}}</p>
            <p>Addis Ababa, Ethiopea</p>
        </div>
    </section>
    <section class="comment-section">
        <h2 class="">Comments</h2>
        <div class="comment">
            <h3 class="comment-name">Abebe</h3>
            <p class="comment-text">Nice view! I dont see the way you see  it.</p>
        </div>
        <div class="comment">
            <h3 class="comment-name">Ben</h3>
            <p class="comment-text">Lorem ipsum dolor sit 
                amet consectetur adipisicing elit. Perspiciatis odit quidem, 
                voluptatibus veritatis molestiae iure soluta corrupti ipsam </p>
        </div>
        <div class="comment">
            <h3 class="comment-name">Betty</h3>
            <p class="comment-text">Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Neque voluptate quis distinctio molestiae et quaerat fugiat .</p>
        </div>
    </section>
    <section class="call-to-comment">   
        <h2>Leave Your Comment Here</h2>
        <div>
            <form action="" class="comment-form">
                <div class="form-field">
                    <label for="user_name">Your Name</label>
                    <input type="text" name="user_name" id="user_name">
                </div>
                <div class="form-field">
                    <label for="email">Email</label>
                    <input type="email" name="user_email" id="email">
                </div>
                <div class="form-field">
                    <label for="text">Your Comment</label>
                    <textarea rows="6" cols="35" type="text" name="comment-text" id="text"></textarea>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}