{% extends "blog/base.html" %}
{% load static %}

{% block css_style %}
<link rel="stylesheet" href="{% static "blog/css/includes.css" %}">
<link rel="stylesheet" href="{% static "blog/css/post-detail.css" %}">      
{% endblock css_style %}

{% block content %} 
    {% if form.errors %}
        <div class="error-alert-box">
            <h3>Saving the comment failed!</h3>
            <p>Please check the comment form below and fix the problem</p>
            <a href="#comment-from">Fix</a>
        </div>
    {% endif %}
    <section class="post-detail">
        <div class="post-header">
            <img class="post-img" src="{{post.image.url}}" alt="{{post.title}}">
            <div class="post-info">
                <h3 class="post-title">{{post.title}}</h3>
                <p>By {{post.author}}, {{post.date}}</p>
                <form action="/stored-post" method="POST">
                    {%csrf_token%}
                    <input type="hidden" value="{{post.id}}" name="post-id"></input>
                    <button class="read-later">{% if saved_for_later %}
                            Remove from 'Read later' list
                        {% else %}Read later
                        {% endif %}</button>
                </form>
            </div>
        </div>
        {{post.content | linebreaks}}
    </section>
    <section class="comment-section">
        <h2 class="">Comments</h2>
        {% if not comments.exists%}
            <h3>No comments yet!</h3>
        {% endif %}
        {% for comment in comments %}
            <div class="comment">
                <h3>{{comment.user_name}}</h3>
                <p class="comment-text">{{comment.comment_text}}</p>
            </div>
        {% endfor %}
    </section>
    <section class="call-to-comment" id="comment-from">   
        <h2>Leave Your Comment Here</h2>
        <div>
            <form action="{% url "post-detail" post.slug %}" class="comment-form" method="POST" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field {% if field.errors %}form-error{% endif %}">
                        {{field.label_tag}}
                        {{field}}
                        {{field.errors}}
                    </div>
                {% endfor %}
                <button>Add Comment</button>
            </form>
        </div>
    </section>
{% endblock content %}