{% extends "blog/base.html" %}
{% load static %}

{% block css_style %}
    <link rel="stylesheet" href="{% static "blog/css/stored-post.css" %}">
{% endblock css_style %}

{% block content %}
    <div class="stored-post">
        {% if has_post %}
        <h3>Stored Posts</h3>
        <ul>
            {% for post in stored_posts %}
                <li>
                    <a href="{% url "post-detail" post.slug%}">{{post.title}}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}<h2>You don't have posts yet!</h2>
        {% endif %}
    </div>
    <div class="btn-box">
        <a href="{% url "home-page" %}">Back to Home</a>
    </div>
{% endblock content %}